.mover{
	margin: 100px;
}
.mover:hover{
	width: 200px;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-name: moviendo;
}
@-webkit-keyframes moviendo{
	0%{
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20%{
		-webkit-transform: rotate(-2deg) scaleY(1.1);
	}
	35%{
		-webkit-transform: rotate(2deg) scaleY(1.0);
	}
	65%{
		-webkit-transform: rotate(1deg);
	}
	80%{
		-webkit-transform: rotate(-1deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
